body{
    background: #222;
}

a{
    cursor: pointer;
}



.addColor{
    background: #000 !important;
    color: #fff !important;
}

.addColor::after{
    content: '⬅️';
}  

.addColor::before{
    content: '➡️';
} 



input{
    border: 1px solid black;
}