:root{
    --background-color:#311D3F;
    --content-color:#522546;
    --content-color-ligth:#88304E;
    --letter-color:#E23E57;
}





body{
    background: var(--background-color);
    color: var(--letter-color);
}
