<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body class="h-screen flex flex-col justify-center align-middle">
	<header>
		<h1 class="text-3xl font-bold text-center text-slate-50 m-6 uppercase">
			Proyect
		  </h1>
		  <nav class="text-center text-slate-50">With have a creator of <span>Terminos de uso</span>, <span>Aviso Legal</span> , <span>Politicas de cokies</span> and <span>Declaración Accesibilidad Web </span></nav>
	</header>
	<main class="flex justify-center align-middle m-10">
		<button id="generate" class="bg-white hover:bg-black text-blue-700 font-semibold hover:text-white py-2 px-4 rounded">Generate</button>
	</main>
	<script type="module" src="/script/main.js"></script>
</body>
</html>
<style is:global>
	body{
		background: #222;
	}

</style>
