
---
import "../styles/style.css";

---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/policy.svg" type="image/x-icon">
	<title>Policy generator</title>
</head>
<body class="flex flex-col justify-center align-middle">
	<header>
		<h1 class="text-3xl font-bold text-center text-slate-50 m-6 uppercase">
			Proyect
		  </h1>
		<nav id="nav" class="text-center text-slate-50 font-semibold flex flex-row justify-center items-center  gap-1 flex-wrap p-2">
			With have a creator of 
			<a id="terminos" class="bg-white text-blue-700 font-semibold p-2 px-2 rounded hover:text-white hover:bg-black md:py-2 md:px-4">Terminos de uso</a>, 
			<a id="aviso" class="bg-white text-blue-700 font-semibold p-2 px-2 rounded hover:text-white hover:bg-black md:py-2 md:px-4">Aviso Legal</a> , 
			<a id="cookies" class="bg-white text-blue-700 font-semibold p-2 px-2 rounded hover:text-white hover:bg-black md:py-2 md:px-4">Politicas de cokies</a> 
			and <a id="accesibilidad" class="bg-white text-blue-700 font-semibold p-2 px-2 rounded hover:text-white hover:bg-black md:py-2 md:px-4">Declaración Accesibilidad Web </a>
		</nav>
	</header>
	<main class="flex justify-center items-center m-10 flex-col">
		<button id="generate" class="bg-white hover:bg-black text-blue-700 font-semibold hover:text-white py-2 px-4 rounded">GENERATE</button>
		<div id="output">
		</div>
	</main>
	<script src="../scripts/main.js"></script>
</body>
</html>