
<!--const fields = [
  { id: "correo", label: "Correo de la empresa", tipo: "email" },
  { id: "location", label: "Lugar de la empresa", tipo: "text" },
  { id: "phone", label: "Teléfono de la empresa", tipo: "tel" }
];
-->


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/public/Bridge_Four_Badge.svg" type="image/x-icon">
	<title>Policy generator</title>
	<script src="https://kit.fontawesome.com/e93388ad81.js" crossorigin="anonymous"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	<style>
		body{
			font-family: "Roboto", sans-serif;
  			font-optical-sizing: auto;
  			font-weight: 600;
  			font-style: normal;
  			font-variation-settings:
    			"wdth" 100;
		}


		

		


	</style>
</head>
<body class="bg-primary_color text-text_color">
	<!--
	<header>
		<h1 class="text-3xl font-bold text-center text-slate-50 m-6 uppercase">
			Proyect
		  </h1>
		<nav id="nav" class="text-center text-slate-50 font-semibold flex flex-row justify-center items-center  gap-1 flex-wrap p-2">
			With have a creator of 
			<a id="terminos" class="bg-white text-blue-700 font-semibold p-2 px-2 rounded hover:text-white hover:bg-black md:py-2 md:px-4">Terminos de uso</a>, 
			<a id="aviso" class="bg-white text-blue-700 font-semibold p-2 px-2 rounded hover:text-white hover:bg-black md:py-2 md:px-4">Aviso Legal</a> , 
			<a id="cookies" class="bg-white text-blue-700 font-semibold p-2 px-2 rounded hover:text-white hover:bg-black md:py-2 md:px-4">Politicas de cokies</a> 
			and <a id="accesibilidad" class="bg-white text-blue-700 font-semibold p-2 px-2 rounded hover:text-white hover:bg-black md:py-2 md:px-4">Declaración Accesibilidad Web </a>
		</nav>
	</header>
	<main class="flex justify-center items-center m-10 flex-col">
		<button id="generate" class="bg-white hover:bg-black text-blue-700 font-semibold hover:text-white py-2 px-4 rounded">GENERATE</button>
		<div id="output">
		</div>
	</main>
	<script src="../scripts/main.js"></script>

-->

<!--
<header>
	<h1 class="text-3xl font-bold text-center m-6 uppercase underline">
		Policy Generator
	  </h1>
</header>
-->

<main class="grid grid-cols-1 gap-6 content-center px-24 m-10 md:px-[450px]">

		<form method="get" class="bg-secondary_color flex flex-col gap-3 border-2 p-8 border-none rounded shadow-letter_color shadow [&_span]:capitalize [&_input]:h-8 [&_input]:rounded">
			
			<!--   {fields.map((field) => (
				<p class="grid grid-cols-2 gap-2">
				  <label for={field.id} class="font-medium">{field.label}:</label>
				  <input id={field.id} type={field.type} class="border p-2 rounded-md" />
				</p>
			  ))}

			  Automate work , not working because use typescript learn and use 
		-->
			
		<p class="grid grid-cols-1 ">
			<label for="name">
				<span>Nombre de la empresa:</span>
			</label>
			<input type="text" id="name">
		</p>

		<p class="grid grid-cols-1">
			<label for="correo">
				<span>Correo de la empresa:</span>
			</label>
			<input type="email" id="correo"> 
		</p>

		<p class="grid grid-cols-1">
			<label for="location">
				<span>Lugar de la empresa:</span>
			</label>
			<input type="text" id="location">
		</p>

		<p class="grid grid-cols-1">
			<label for="phone">
			<span>Télefono de la empresa:</span>
			</label>
			<input type="tel" id="phone">
		</p>

		<p class="grid grid-cols-1">
			<label for="dni">
				<span>CIF o DNI de la empresa:</span>
			</label>
			<input type="text" id="dni">
		</p>
		<p class="grid grid-cols-1">
			<label for="correo">
				<span>Correo electronico:</span>
			</label>
			<input type="email">
		</p>
		<p class="grid grid-cols-1">
			<label for="url">
				<span>URL del sitio:</span>
			</label>
			<input type="text" id="url">
		</p>
		<div class="w-full mt-5">
			<button class="outline outline-1 outline-letter_color hover:outline-none backdrop-blur-sm hover:bg-accent_color text-white font-bold py-2 px-4 rounded w-full">Clear data</button>
		</div>
		

		</form>
	
		<aside class="flex flex-col p-5 gap-6 justify-center md:absolute top-0 right-16 bottom-16">
			<button class="outline outline-1 outline-letter_color hover:outline-none backdrop-blur-sm hover:bg-accent_color text-white font-bold py-2 px-4 rounded w-full transition hover:scale-100">Términos de uso</button>
			<button class="outline outline-1 outline-letter_color hover:outline-none backdrop-blur-sm hover:bg-accent_color text-white font-bold py-2 px-4 rounded w-full transition hover:scale-100">Aviso Legal</button>
			<button class="outline outline-1 outline-letter_color hover:outline-none backdrop-blur-sm hover:bg-accent_color text-white font-bold py-2 px-4 rounded w-full transition hover:scale-100">Políticas de cookies</button>
			<button class="outline outline-1 outline-letter_color hover:outline-none backdrop-blur-sm hover:bg-accent_color text-white font-bold py-2 px-4 rounded w-full transition hover:scale-100">Declaración de accesibilidad Web</button>
		</aside>
	
</main>
	



  
</body>
</html>