<div class="flex items-center justify-between align-middle md:h-screen">
  <div class="relative w-80 mx-auto">
    <label for="options" class="block text-gray-700"></label>
    
    <select id="options" class="bg-white w-full px-4 py-3 text-left border border-gray-300 rounded-lg shadow-sm focus:ring-2 focus:ring-blue-400">
      <option value="Términos de uso">Términos de uso</option>
      <option value="Aviso legal">Aviso legal</option>
      <option value="Políticas de cookies">Políticas de cookies</option>
      <option value="Declaración de accesibilidad">Declaración de accesibilidad</option>
    </select>
  </div>
</div>
